<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/>

    <link href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="../../asset/css/style.css" rel="stylesheet">
</head>
<body>

<div class="text-center my-5">
    <h1>Pommy Build</h1>
</div>

<div id="cards">

</div>

<script>
    window.controllers.loadController('home');
</script>
</body>
</html>